.bottom-button {
    padding: 12px 0;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
  }
  
  .bottom-button:hover {
    background: #e0e0e0;
  }
