/* Balance.css */
.balance-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .income-animation {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: green;
    font-weight: bold;
    pointer-events: none; /* Отключаем взаимодействие с текстом */
    animation: float-up 0.5s ease-in-out forwards;
  }
  
  @keyframes float-up {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -70%) scale(0.8); /* Перемещаем текст вверх и уменьшаем его размер */
    }
  }