#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottom-buttons {
  position: fixed; /* Фиксируем позицию */
  bottom: 0;
  left: 0;
  width: 100%; /* Занимает всю ширину экрана */
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Распределяем кнопки по краям */
}

.bottom-buttons button {
  flex: 1; /* Каждая кнопка занимает равную часть */
  margin: 0 5px;
  padding: 12px 0;
  border: none;
  background: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.bottom-buttons button:hover {
  background: #e0e0e0;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}