#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottom-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px; /* Добавили отступы по бокам */
  background: transparent; /* Убираем фон контейнера */
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); /* Легкая тень сверху */
  display: flex;
  justify-content: space-between;
}

.bottom-buttons button {
  flex: 1; /* Каждая кнопка занимает равную часть */
  margin: 0 5px;
  padding: 12px 0;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  color: black;
}

.bottom-buttons button:hover {
  background: #e0e0e0;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}